:root {
  /* COLOR */
  --background-black: rgb(0, 0, 0);
  --background-error-light: rgb(253, 242, 242);
  --background-hover: rgb(240, 242, 247);
  --background-info-light: rgb(244, 248, 250);
  --background-primary: rgb(56, 62, 68);
  --background-primary-light: rgb(215, 216, 218);
  --background-secondary: rgb(148, 165, 179);
  --background-secondary-light: rgb(234, 237, 240);
  --background-success-light: rgb(246, 249, 243);
  --background-tertiary: rgb(230, 230, 230);
  --background-tertiary-light: rgb(240, 240, 240);
  --background-warning-light: rgb(254, 248, 244);
  --background-white: rgb(255, 255, 255);
  --border-default: rgb(144, 145, 148);
  --border-error: rgb(218, 0, 0);
  --border-error-light: rgb(253, 242, 242);
  --border-focus: rgb(56, 62, 68);
  --border-info: rgb(45, 121, 159);
  --border-info-light: rgb(244, 248, 250);
  --border-light: rgb(240, 242, 247);
  --border-primary: rgb(56, 62, 68);
  --border-primary-light: rgb(136, 139, 143);
  --border-secondary: rgb(148, 165, 179);
  --border-secondary-light: rgb(191, 201, 209);
  --border-success: rgb(71, 129, 14);
  --border-success-light: rgb(246, 249, 243);
  --border-tertiary: rgb(230, 230, 230);
  --border-tertiary-light: rgb(240, 240, 240);
  --border-warning: rgb(233, 106, 32);
  --border-warning-light: rgb(254, 248, 244);
  --component-alert-banner-background: rgb(254, 248, 244);
  --component-alert-banner-icon: rgb(233, 106, 32);
  --component-alert-banner-text: rgb(0, 0, 0);
  --component-alert-error-background: rgb(253, 242, 242);
  --component-alert-error-icon: rgb(218, 0, 0);
  --component-alert-error-link: rgb(56, 62, 68);
  --component-alert-error-text: rgb(0, 0, 0);
  --component-alert-info-background: rgb(244, 248, 250);
  --component-alert-info-icon: rgb(45, 121, 159);
  --component-alert-info-link: rgb(56, 62, 68);
  --component-alert-info-text: rgb(0, 0, 0);
  --component-alert-success-background: rgb(246, 249, 243);
  --component-alert-success-icon: rgb(71, 129, 14);
  --component-alert-success-link: rgb(56, 62, 68);
  --component-alert-success-text: rgb(0, 0, 0);
  --component-alert-warning-background: rgb(254, 248, 244);
  --component-alert-warning-icon: rgb(233, 106, 32);
  --component-alert-warning-link: rgb(56, 62, 68);
  --component-alert-warning-text: rgb(0, 0, 0);
  --component-autocomplete-text: rgb(255, 255, 255);
  --component-badge-error-background: rgb(253, 242, 242);
  --component-badge-error-text: rgb(0, 0, 0);
  --component-badge-info-background: rgb(244, 248, 250);
  --component-badge-info-text: rgb(0, 0, 0);
  --component-badge-primary-background: rgb(215, 216, 218);
  --component-badge-primary-text: rgb(0, 0, 0);
  --component-badge-secondary-background: rgb(234, 237, 240);
  --component-badge-secondary-text: rgb(0, 0, 0);
  --component-badge-success-background: rgb(254, 248, 244);
  --component-badge-success-text: rgb(0, 0, 0);
  --component-badge-tertiary-background: rgb(250, 250, 250);
  --component-badge-tertiary-text: rgb(0, 0, 0);
  --component-badge-warning-background: rgb(254, 248, 244);
  --component-badge-warning-text: rgb(0, 0, 0);
  --component-banner-text: rgb(255, 255, 255);
  --component-button-group-text: rgb(255, 255, 255);
  --component-button-link-active-background: rgb(56, 62, 68);
  --component-button-link-active-border: rgb(56, 62, 68);
  --component-button-link-active-text: rgb(255, 255, 255);
  --component-button-link-disabled-background: rgb(215, 216, 218);
  --component-button-link-disabled-border: rgb(215, 216, 218);
  --component-button-link-disabled-text: rgb(136, 139, 143);
  --component-button-link-focus-background: rgba(255, 255, 255, 0);
  --component-button-link-focus-border: rgb(56, 62, 68);
  --component-button-link-focus-text: rgb(56, 62, 68);
  --component-button-link-hover-background: rgb(215, 216, 218);
  --component-button-link-hover-border: rgb(215, 216, 218);
  --component-button-link-hover-text: rgb(56, 62, 68);
  --component-button-link-static-background: rgba(255, 255, 255, 0);
  --component-button-link-static-border: rgba(255, 255, 255, 0);
  --component-button-link-static-text: rgb(56, 62, 68);
  --component-button-primary-active-background: rgb(255, 255, 255);
  --component-button-primary-active-border: rgb(56, 62, 68);
  --component-button-primary-active-text: rgb(56, 62, 68);
  --component-button-primary-disabled-background: rgb(215, 216, 218);
  --component-button-primary-disabled-border: rgb(215, 216, 218);
  --component-button-primary-disabled-text: rgb(136, 139, 143);
  --component-button-primary-focus-background: rgb(56, 62, 68);
  --component-button-primary-focus-border: rgb(56, 62, 68);
  --component-button-primary-focus-text: rgb(255, 255, 255);
  --component-button-primary-hover-background: rgb(34, 37, 41);
  --component-button-primary-hover-border: rgb(34, 37, 41);
  --component-button-primary-hover-text: rgb(255, 255, 255);
  --component-button-primary-static-background: rgb(56, 62, 68);
  --component-button-primary-static-border: rgb(56, 62, 68);
  --component-button-primary-static-text: rgb(255, 255, 255);
  --component-button-secondary-active-background: rgb(56, 62, 68);
  --component-button-secondary-active-border: rgb(56, 62, 68);
  --component-button-secondary-active-text: rgb(255, 255, 255);
  --component-button-secondary-disabled-background: rgb(215, 216, 218);
  --component-button-secondary-disabled-border: rgb(215, 216, 218);
  --component-button-secondary-disabled-text: rgb(136, 139, 143);
  --component-button-secondary-focus-background: rgb(255, 255, 255);
  --component-button-secondary-focus-border: rgb(56, 62, 68);
  --component-button-secondary-focus-text: rgb(56, 62, 68);
  --component-button-secondary-hover-background: rgb(215, 216, 218);
  --component-button-secondary-hover-border: rgb(56, 62, 68);
  --component-button-secondary-hover-text: rgb(56, 62, 68);
  --component-button-secondary-static-background: rgb(255, 255, 255);
  --component-button-secondary-static-border: rgb(56, 62, 68);
  --component-button-secondary-static-text: rgb(56, 62, 68);
  --component-button-tertiary-active-background: rgb(56, 62, 68);
  --component-button-tertiary-active-border: rgb(56, 62, 68);
  --component-button-tertiary-active-text: rgb(255, 255, 255);
  --component-button-tertiary-disabled-background: rgb(215, 216, 218);
  --component-button-tertiary-disabled-border: rgb(215, 216, 218);
  --component-button-tertiary-disabled-text: rgb(136, 139, 143);
  --component-button-tertiary-focus-background: rgba(255, 255, 255, 0);
  --component-button-tertiary-focus-border: rgb(56, 62, 68);
  --component-button-tertiary-focus-text: rgb(56, 62, 68);
  --component-button-tertiary-hover-background: rgb(215, 216, 218);
  --component-button-tertiary-hover-border: rgb(215, 216, 218);
  --component-button-tertiary-hover-text: rgb(56, 62, 68);
  --component-button-tertiary-static-background: rgba(255, 255, 255, 0);
  --component-button-tertiary-static-border: rgba(255, 255, 255, 0);
  --component-button-tertiary-static-text: rgb(56, 62, 68);
  --component-card-text: rgb(255, 255, 255);
  --component-checkbox-text: rgb(255, 255, 255);
  --component-datepicker-text: rgb(255, 255, 255);
  --component-divider-text: rgb(255, 255, 255);
  --component-input-text: rgb(255, 255, 255);
  --component-license-plate-text: rgb(255, 255, 255);
  --component-lists-text: rgb(255, 255, 255);
  --component-loaders-text: rgb(255, 255, 255);
  --component-logo-text: rgb(255, 255, 255);
  --component-message-text: rgb(255, 255, 255);
  --component-price-text: rgb(255, 255, 255);
  --component-progress-loader-text: rgb(255, 255, 255);
  --component-radio-block-text: rgb(255, 255, 255);
  --component-radio-text: rgb(255, 255, 255);
  --component-segmented-control-text: rgb(255, 255, 255);
  --component-select-text: rgb(255, 255, 255);
  --component-sticky-text: rgb(255, 255, 255);
  --component-text-area-text: rgb(255, 255, 255);
  --component-time-picker-text: rgb(255, 255, 255);
  --foundation-error-default: rgb(218, 0, 0);
  --foundation-error-light: rgb(253, 242, 242);
  --foundation-info-default: rgb(45, 121, 159);
  --foundation-info-light: rgb(244, 248, 250);
  --foundation-neutral-black: rgb(0, 0, 0);
  --foundation-neutral-dark: rgb(144, 145, 148);
  --foundation-neutral-darker: rgb(48, 48, 49);
  --foundation-neutral-grey: rgb(240, 242, 247);
  --foundation-neutral-light: rgb(246, 247, 250);
  --foundation-neutral-lighter: rgb(252, 252, 253);
  --foundation-neutrals-black: rgb(0, 0, 0);
  --foundation-neutrals-dark: rgb(144, 145, 148);
  --foundation-neutrals-darker: rgb(48, 48, 49);
  --foundation-neutrals-grey: rgb(240, 242, 247);
  --foundation-neutrals-light: rgb(246, 247, 250);
  --foundation-neutrals-lighter: rgb(252, 252, 253);
  --foundation-neutrals-transparent: rgba(255, 255, 255, 0);
  --foundation-neutrals-white: rgb(255, 255, 255);
  --foundation-neutral-transparent: rgba(255, 255, 255, 0);
  --foundation-neutral-white: rgb(255, 255, 255);
  --foundation-primary-dark: rgb(34, 37, 41);
  --foundation-primary-darker: rgb(11, 12, 14);
  --foundation-primary-default: rgb(56, 62, 68);
  --foundation-primary-light: rgb(136, 139, 143);
  --foundation-primary-lighter: rgb(215, 216, 218);
  --foundation-secondary-dark: rgb(89, 99, 107);
  --foundation-secondary-darker: rgb(30, 33, 36);
  --foundation-secondary-default: rgb(148, 165, 179);
  --foundation-secondary-light: rgb(191, 201, 209);
  --foundation-secondary-lighter: rgb(234, 237, 240);
  --foundation-success-default: rgb(71, 129, 14);
  --foundation-success-light: rgb(246, 249, 243);
  --foundation-tertiary-dark: rgb(138, 138, 138);
  --foundation-tertiary-darker: rgb(46, 46, 46);
  --foundation-tertiary-default: rgb(230, 230, 230);
  --foundation-tertiary-light: rgb(240, 240, 240);
  --foundation-tertiary-lighter: rgb(250, 250, 250);
  --foundation-warning-default: rgb(233, 106, 32);
  --foundation-warning-light: rgb(254, 248, 244);
  --global-brand-primary-100: rgb(215, 216, 218);
  --global-brand-primary-200: rgb(175, 178, 180);
  --global-brand-primary-300: rgb(136, 139, 143);
  --global-brand-primary-400: rgb(96, 101, 105);
  --global-brand-primary-50: rgb(245, 245, 246);
  --global-brand-primary-500: rgb(56, 62, 68);
  --global-brand-primary-600: rgb(45, 50, 54);
  --global-brand-primary-700: rgb(34, 37, 41);
  --global-brand-primary-800: rgb(22, 25, 27);
  --global-brand-primary-900: rgb(11, 12, 14);
  --global-brand-primary-950: rgb(3, 3, 3);
  --global-brand-secondary-100: rgb(234, 237, 240);
  --global-brand-secondary-200: rgb(212, 219, 225);
  --global-brand-secondary-300: rgb(191, 201, 209);
  --global-brand-secondary-400: rgb(169, 183, 194);
  --global-brand-secondary-50: rgb(250, 250, 251);
  --global-brand-secondary-500: rgb(148, 165, 179);
  --global-brand-secondary-600: rgb(118, 132, 143);
  --global-brand-secondary-700: rgb(89, 99, 107);
  --global-brand-secondary-800: rgb(59, 66, 72);
  --global-brand-secondary-900: rgb(30, 33, 36);
  --global-brand-secondary-950: rgb(7, 8, 9);
  --global-brand-tertiary-100: rgb(250, 250, 250);
  --global-brand-tertiary-200: rgb(245, 245, 245);
  --global-brand-tertiary-300: rgb(240, 240, 240);
  --global-brand-tertiary-400: rgb(235, 235, 235);
  --global-brand-tertiary-50: rgb(254, 254, 254);
  --global-brand-tertiary-500: rgb(230, 230, 230);
  --global-brand-tertiary-600: rgb(184, 184, 184);
  --global-brand-tertiary-700: rgb(138, 138, 138);
  --global-brand-tertiary-800: rgb(92, 92, 92);
  --global-brand-tertiary-900: rgb(46, 46, 46);
  --global-brand-tertiary-950: rgb(12, 12, 12);
  --global-system-black: rgb(0, 0, 0);
  --global-system-blue-100: rgb(213, 228, 236);
  --global-system-blue-200: rgb(171, 201, 217);
  --global-system-blue-300: rgb(129, 175, 197);
  --global-system-blue-400: rgb(87, 148, 178);
  --global-system-blue-50: rgb(244, 248, 250);
  --global-system-blue-500: rgb(45, 121, 159);
  --global-system-blue-600: rgb(36, 97, 127);
  --global-system-blue-700: rgb(27, 73, 95);
  --global-system-blue-800: rgb(18, 48, 64);
  --global-system-blue-900: rgb(9, 24, 32);
  --global-system-blue-950: rgb(2, 6, 8);
  --global-system-green-100: rgb(218, 230, 207);
  --global-system-green-200: rgb(181, 205, 159);
  --global-system-green-300: rgb(145, 179, 110);
  --global-system-green-400: rgb(108, 154, 62);
  --global-system-green-50: rgb(246, 249, 243);
  --global-system-green-500: rgb(71, 129, 14);
  --global-system-green-600: rgb(57, 103, 11);
  --global-system-green-700: rgb(43, 77, 8);
  --global-system-green-800: rgb(28, 52, 6);
  --global-system-green-900: rgb(14, 26, 3);
  --global-system-green-950: rgb(4, 6, 1);
  --global-system-grey-100: rgb(252, 252, 253);
  --global-system-grey-200: rgb(249, 250, 252);
  --global-system-grey-300: rgb(246, 247, 250);
  --global-system-grey-400: rgb(243, 245, 249);
  --global-system-grey-50: rgb(254, 254, 255);
  --global-system-grey-500: rgb(240, 242, 247);
  --global-system-grey-600: rgb(192, 194, 198);
  --global-system-grey-700: rgb(144, 145, 148);
  --global-system-grey-800: rgb(96, 97, 99);
  --global-system-grey-900: rgb(48, 48, 49);
  --global-system-grey-950: rgb(12, 12, 12);
  --global-system-orange-100: rgb(251, 225, 210);
  --global-system-orange-200: rgb(246, 195, 166);
  --global-system-orange-300: rgb(242, 166, 121);
  --global-system-orange-400: rgb(237, 136, 77);
  --global-system-orange-50: rgb(254, 248, 244);
  --global-system-orange-500: rgb(233, 106, 32);
  --global-system-orange-600: rgb(186, 85, 26);
  --global-system-orange-700: rgb(140, 64, 19);
  --global-system-orange-800: rgb(93, 42, 13);
  --global-system-orange-900: rgb(47, 21, 6);
  --global-system-orange-950: rgb(12, 5, 2);
  --global-system-red-100: rgb(248, 204, 204);
  --global-system-red-200: rgb(240, 153, 153);
  --global-system-red-300: rgb(233, 102, 102);
  --global-system-red-400: rgb(225, 51, 51);
  --global-system-red-50: rgb(253, 242, 242);
  --global-system-red-500: rgb(218, 0, 0);
  --global-system-red-600: rgb(174, 0, 0);
  --global-system-red-700: rgb(131, 0, 0);
  --global-system-red-800: rgb(87, 0, 0);
  --global-system-red-900: rgb(44, 0, 0);
  --global-system-red-950: rgb(11, 0, 0);
  --global-system-transparent: rgba(255, 255, 255, 0);
  --global-system-white: rgb(255, 255, 255);
  --interactive-checked-background: rgb(56, 62, 68);
  --interactive-checked-border: rgb(56, 62, 68);
  --interactive-checked-text: rgb(56, 62, 68);
  --interactive-default-background: rgb(255, 255, 255);
  --interactive-default-border: rgb(144, 145, 148);
  --interactive-default-text: rgb(0, 0, 0);
  --interactive-disabled-background: rgb(240, 242, 247);
  --interactive-disabled-border: rgb(144, 145, 148);
  --interactive-disabled-text: rgb(144, 145, 148);
  --interactive-error-background: rgb(253, 242, 242);
  --interactive-error-border: rgb(218, 0, 0);
  --interactive-error-text: rgb(218, 0, 0);
  --interactive-focus-background: rgb(0, 0, 0);
  --interactive-focus-border: rgb(56, 62, 68);
  --interactive-focus-text: rgb(56, 62, 68);
  --interactive-hover-background: rgb(215, 216, 218);
  --interactive-hover-border: rgb(136, 139, 143);
  --interactive-hover-text: rgb(56, 62, 68);
  --interactive-success-background: rgb(246, 249, 243);
  --interactive-success-border: rgb(71, 129, 14);
  --interactive-success-text: rgb(71, 129, 14);
  --text-black: rgb(0, 0, 0);
  --text-default: rgb(0, 0, 0);
  --text-disabled: rgb(144, 145, 148);
  --text-error: rgb(218, 0, 0);
  --text-info: rgb(45, 121, 159);
  --text-light: rgb(48, 48, 49);
  --text-primary: rgb(56, 62, 68);
  --text-primary-light: rgb(136, 139, 143);
  --text-secondary: rgb(148, 165, 179);
  --text-secondary-light: rgb(191, 201, 209);
  --text-success: rgb(71, 129, 14);
  --text-tertiary: rgb(230, 230, 230);
  --text-tertiary-light: rgb(240, 240, 240);
  --text-warning: rgb(233, 106, 32);
  --text-white: rgb(255, 255, 255);
}
